* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%x;
}
.controller {
	margin: 3em;
	padding: 3em;
	width: 600px;
	height: 800px;
	background-color: khaki;
}

.controller > img {
	margin-left: 8em;
}

h3 {
	text-align: center;
	margin-bottom: 1em;
}

p {
	font-size: 16px;
}

.ep {
	margin-bottom: 2em;
}

label {
	font-weight: 600;
}
