* {
	box-sizing: border-box;
}

body {
	background-color: #f8f9fa;
	position: relative;
}

/* NavBar */

.bg-color {
	background-color: #46a6a7;
	color: #f8f9fa;
}

.navbar-brand {
	margin-left: 2em;
}

.menuTengah {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-weight: 600;
	padding-left: 10px;
}

.nb {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.nav-link:active {
	color: #f8f9fa;
}

.nav-link:hover {
	padding-left: 5px;
	padding-right: 5px;
}

.nb:hover {
	background-color: #398687;
}

.dropdown-item:hover {
	background-color: #398687;
	color: #f8f9fa;
}

/* Navbar Button */
.btn-signup {
	margin-right: 1em;
	background-color: #275c5d;
	font-weight: 600;
	border: 0px solid #f8f9fa;
}

.btn-signup:hover {
	background-color: #398687;
	border: 0px solid #f8f9fa;
}

.navbar::after {
	content: "";
	clear: both;
}

/* Slider */
.carousel {
	margin-top: 4em;
}

.carouselSlider {
	background: no-repeat center;
	background-size: cover;
	width: 100%;
	height: 600px;
}

.textSlide {
	background-color: rgba(128, 128, 128, 0.7);
	margin-bottom: 4em;
}

.signButton {
	float: right;
	margin-right: 0.5em;
}

.carousel::after {
	content: "";
	clear: both;
}

/* Fasilitas */

.fasilitas {
	margin-top: 5em;
}

.img-fasilitas {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	justify-items: center;
	grid-row-end: span 2;
}

.con:nth-last-child(1) {
	grid-column: 2 / span 2;
}

.img-fasilitas > .con > img {
	max-width: 300px;
	height: auto;
	border-radius: 15px;
	padding: 10px 0px;
}

.img-fasilitas > .con > img:hover {
	opacity: 0.6;
}

.con {
	position: relative;
	width: 100%;
	max-width: 300px;
}

.overlay {
	position: absolute;
	border-radius: 0px 0px 10px 10px;
	bottom: 10px;
	background: rgba(91, 23, 23, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 16px;

	text-align: center;
}

.con:hover .overlay {
	opacity: 1;
}

/* Testimoni */
/* Partners */
.user,
.partner {
	margin-top: 5em;
}

.img-user {
	padding-top: 1em;
	background-color: rgba(128, 128, 128, 0.2);
	padding-bottom: 1em;
}

.img-user,
.img-partner {
	margin-top: 3em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
}

.img-user > img {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	padding: 10px 5px;
}

.img-partner > img {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	padding: 10px 5px;
}

.img-user > img:hover {
	opacity: 0.6;
}

.img-partner > img:hover {
	opacity: 0.6;
}

.ajakan {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
}

.ajakan1,
.ajakan3 {
	font-weight: 600;
}

/* Harga */
.harga {
	margin-top: 5em;
}

.card-deck {
	margin-top: 3em;
}

h4 {
	font-weight: 600;
}

/* Lokasi */
.lokasi1 {
	margin-top: 3em;
}
.lokasi2 {
	margin-top: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
}
.card {
	width: 300px;
	border-radius: 5px;
}
.card-img-top {
	max-height: 200px;
}

/* Aktifitas */
.aktifitas1 {
	margin-top: 3em;
}
.aktifitas2 {
	margin-top: 3em;
}
.row1 {
	padding-top: 1em;
	background-color: rgba(128, 128, 128, 0.2);
}
.pAktifitas {
	text-indent: 25px;
}
.rowFB {
	margin-top: 3em;
}

.liAktifitas{
	margin-top: 1em;
	margin-bottom: 0.25em;
}

.lokasi1::after {
	content: "";
	clear: both;
}



/* News */
.news {
	margin-top: 3em;
}
.news1 {
	padding-top: 1em;
	padding-bottom: 1em;

	background-color: rgba(128, 128, 128, 0.2);
	margin-top: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}
.cl {
	float: right;
}

/* Partner : refer to Testimoni */

/* About Us */
.story {
	margin-top: 3em;
}
.story1 {
	margin-top: 3em;
	background-color: rgba(128, 128, 128, 0.2);
	padding-bottom: 1em;
	
}
.story2 {
	padding-top: 1em;
}
.parag {
	padding-top: 1em;
	padding-left: 2em;
	word-wrap: break-word;
	font-size: 20px;
}

/* Our Staff */
.staff {
	margin-top: 3em;
}
.img-staff {
	margin-top: 3em;
	display: flex;
	justify-content: space-evenly;
}
.founder {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
h6 {
	text-align: center;
	font-weight: 600;
}

/* Footer */

.footer {
	margin-top: 3em;
	background-color: rgba(128, 128, 128, 0.2);
	font-weight: 700;
	line-height: 15px;
	padding-bottom: 1em;
}

.fImg {
	padding-top: 20px;
	padding-bottom: 10px;
}

.wa {
	width: 30px;
	height: 30px;
}
.f1{
	width: 300px;
}
.f2 > ul,
.f3 > ul {
	margin-top: 10em;
	margin-left: 10em;
	margin-right: 10em;
	width: 100px;
}

.f2 > ul > li a,
.f3 > ul > li a {
	text-decoration: none;
	color: black;
}

.f2 > ul > li a:hover,
.f3 > ul > li a:hover {
	background-color: grey;
	color: white;
}


/* Subscription */
.subscription {
	margin-top: 3em;
	margin-bottom: 3em;
}

.subscription1 {
	margin-top: 1em;
	width: 400px;
	margin-bottom: 1em;
}

.icon-bar > a {
	padding-left: 10px;
}

.ib {
	width: 30px;
	height: 30px;
}

.ib:hover {
	opacity: 0.2;
}


